.cm-s-js-like.CodeMirror { color: #999; background-color: #fff; }
.cm-s-js-like div.CodeMirror-selected { background: #cfc; }
.cm-s-js-like .CodeMirror-line::selection, .cm-s-js-like .CodeMirror-line > span::selection, .cm-s-js-like .CodeMirror-line > span > span::selection { background: #cfc; }
.cm-s-js-like .CodeMirror-line::-moz-selection, .cm-s-js-like .CodeMirror-line > span::-moz-selection, .cm-s-js-like .CodeMirror-line > span > span::-moz-selection { background: #cfc; }

.cm-s-js-like .CodeMirror-gutters { background: #f8f8f8; border-left: 6px solid rgba(0,83,159,0.65); color: #333; }
.cm-s-js-like .CodeMirror-linenumber { color: #aaa; padding-left: 8px; }
.cm-s-js-like .CodeMirror-cursor { border-left: 2px solid #222; }

.cm-s-js-like .cm-keyword { color: #6c00ff; }
.cm-s-js-like .cm-atom { color: #000CFF; }
.cm-s-js-like .cm-number { color: red; }
.cm-s-js-like .cm-def { color: #8DA6CE; }
.cm-s-js-like span.cm-variable-2, .cm-s-js-like span.cm-tag { color: #690; }
.cm-s-js-like span.cm-variable-3, .cm-s-js-like span.cm-def, .cm-s-js-like span.cm-type { color: #07a; }

.cm-s-js-like .cm-variable { color: #4e3a00; }
.cm-s-js-like .cm-property { color: #905; }
.cm-s-js-like .cm-qualifier { color: #690; }

.cm-s-js-like .cm-operator { color: #ff9300; }
.cm-s-js-like .cm-comment { color:#777; font-weight:normal; font-style: italic; }
.cm-s-js-like .cm-string { color:green; }
.cm-s-js-like .cm-string-2 { color:#e55400; } /*?*/
.cm-s-js-like .cm-meta { color: #000; } /*?*/
.cm-s-js-like .cm-builtin { color: #9B7536; } /*?*/
.cm-s-js-like .cm-tag { color: #997643; }
.cm-s-js-like .cm-attribute { color: #d6bb6d; } /*?*/
.cm-s-js-like .cm-header { color: #FF6400; }
.cm-s-js-like .cm-hr { color: #AEAEAE; }
.cm-s-js-like .cm-link { color:#ad9361; font-style:italic; text-decoration:none; }
.cm-s-js-like .cm-error { border-bottom: 1px solid red; }

div.cm-s-js-like .CodeMirror-activeline-background { background: #efefff; }
div.cm-s-js-like span.CodeMirror-matchingbracket { outline:1px solid grey; color: inherit; }

.cm-s-js-like.CodeMirror { background-color: #FAFAFF; }
