@cerulean: #4484ce;
@light-cerulean: #a0ccff;
@light: #f9cf00;
@tangerine: #f19f4d;

@background: @cerulean;
@base: @background;
@light-background: @light-cerulean;
@color: white;
@normal-color: #333;
@bright: @light;
@highlight: @tangerine;
