@cerulean: #4484ce;
@awesome: #2156ae;
@light-cerulean: #a0ccff;
@light: #f9cf00;
@tangerine: #f19f4d;

@success: #579c57;
@danger: #a72e2e;
@warn: #ba880f;

@background: @awesome;
@base: @background;
@font-color: darken(@base, 20%);
@light-background: @light-cerulean;
@color: white;
@normal-color: #333;
@bright: @light;
@highlight: @tangerine;

@font-size-small: 10pt;
@font-size-normal: 12pt;
@font-size-large: 16pt;
@font-size-x-large: 20pt;
